.wrapper {
    display: flex;
    flex-direction: column;
}

body {
    color: #777777;

}

#header_content {
    background-color: #ffffff;
   width: 960px;
   margin-left: 20%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#nameLogo {
    
      float: left;
      background-color: #4aaaa5;
      font-family: Georgia, 'Times New Roman', Times, serif;
      width: 30%;
      padding: 0;
      margin: 0;
      text-align: center;
      color: white;

  }

 
  
  #pageLinks{
      float: left;
      width:70%;
      text-align: right;
      margin-right: 0;
     
  } 


section {
    float: left;
}


li {

    clear: both;
    overflow:auto;
    display: inline;
    text-align: right;
    padding-left: 15px;
    margin: 0;
    padding-bottom: 0px;
     
}
a {
    color:#777777;
}

.wrapper {
    position: relative;
}


#background_style {

    width: 100%;
    align-content: center;
    text-align: center;
    flex-grow: 1;
    border-top-style: solid;
    border-top-color: #666666;
    border-top-width: 1px;
    position: relative;
    
}


#inner_content_style {
    background-color: #ffffff;
    width: 960px;
    height: 460px;
    display: inline-block;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 5%;
    border: 1px solid #dddddd;
    

} 

#headerOneStyle {
    color: #4aaaa5;
    text-align: left;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #f4ede7;
    margin-left: 20px;
    margin-right: 20px;
    
}

#profilePicture {

    height: 175px;
    width: 175px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}


p {

    text-align: left;
    padding-right: 20px;

}

/* Contact Page Styles */

form {
   text-align: left;
   padding-left:20px;
   padding-right: 20px;

}

input {
    width: 100%;
}

#messageBox {
    height: 150px;
}

#submitButton {
    width: 100px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    margin-top: 10px;
}

/* Footer Styles */

.page_footer {
    flex-shrink: 0;
    background-color: #666666;
    widows: 100%;
    height: 50px;
    /*width: 1200px;
    height: 50px;*/
    border-top: 8px solid #4aaaa5;
}



