
#logo 
{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
}


li {
    display: inline;
    text-align: right;

    

}


#header_content {
    background-color: white;
}

#aboutMe_content {
    background-color: white;
    width: 960px;
    display: inline-block;
}


#main_content {
    /* background-image: url("assets/images/Gravel_Background.png"); */
    width: 1500px;
    align-content: center;
    text-align: center;
}



